.otherLinkStyle { 
  display: flex; 
  justify-content: space-between; 
  margin-top: 14px; 
} 

.bgColor{
  background-color: #1E40AF; 
}

.loginScreenSideBar { 
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
} 

.loginScreenSideBar h1 { 
  color: white; 
  font-size: 28px; 
  text-align: center; 
  font-family: cursive 
} 

.warningTxt{
  color: #BC2227;
  font-size: 12px; 
}

.loginScreenSideBar img { 
  width: -webkit-fill-available; 
} 

.loginMainStyle { 
  background-color: #ffffff; 
  border-radius: 12px 0px 0px 12px; 
  display: flex; 
  justify-items: center; 
  align-items: center; 
  height: 100%;
} 

.loginMainStyle img { 
  max-width: 170px; 
  margin-bottom: 20px; 
} 

.loginFormStyle input{
  padding: 6px;
  font-size: 14px !important;
}

.otherLinkStyle span{
  font-size: 14px !important;
}

.loginFormStyle { 
  box-shadow: 0 12px 34px 0 rgba(57,67,87,0.1)!important; 
  padding: 5%; 
  border-radius: 16px; 
  display: flex; 
  margin: 0 15%; 
  justify-content: center; 
  flex-direction: column; 
} 

.loginFormStyle h2{
  font-size: 24px;
  font-weight: 700;
}

.loginFormStyle h3{
  font-size: 18px;
  margin-top: 6px;
}

/* media query */
@media (max-width: 899px){
  .loginMainStyle{
    padding: 30px 0;
  }
  .loginScreenSideBar{
    padding: 20px;
    height: auto;
  }
}

@media (max-width: 540px){
  .loginFormStyle{
    margin: 0 8%;
  }
}


/* dashboard */
.sideBarMenuStyle  .MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft{
  background: #1E40AF;
}

.sideBarMenuStyle svg{
  color: #fff;
}

.sideBarTextStyle{
  font-weight: 600p;
  color: #fff;
}