.main {
  background: #f8fafc;
  height: 90vh;
}

.container {
  height: 100vh;
  display: flex;
  /* height: 100%; */
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}

.sug-1 {
  background-color: grey;
  display: flex;
  height: 61px;
  padding: 0 10px;
  align-items: flex-start;
}

.cardPadding {
  padding: 5px 30px !important;
}
